@mixin flexCenter($direction, $background) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: $direction;
  background: $background;
}

header {
  @include flexCenter(column, rgb(241, 188, 188));
  //   background: rgb(134, 107, 107);
  height: 100vh;
  color: $textColor;
  button {
    background: $primaryBtn;
    &::after {
      content: " hello";
    }
  }
}
